.partner-page-container{
    width: 100%;
}

.partner-page-nav-portion{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.shade{
    color: rgba(115, 115, 115, 1);
    font-weight: 400;
}

@media only screen and (max-width: 1430px){
    .partner-page-nav-portion{
        width: 20%;
    }
}

@media only screen and (max-width: 950px){
    .partner-page-nav-portion{
        width: 30%;
    }
}

@media only screen and (max-width: 500px){
    .partner-page-nav-portion{
        width: 40%;
    }
}

@media only screen and (max-width: 375px){
    .partner-page-nav-portion{
        width: 50%;
    }
}